@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
ul li{
    display: inline;
    padding : 0px 20px;
}
li a {
    text-decoration: none;
}
ul li a{
    transition: all 0,3s ease 0s;
}
ul li a:hover{
    font-weight: 700;
}
ul li a, button{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 550;
    color: black;
}
div.button{
    box-shadow: 5px 5px;
}
button{
    background-color: red;
    color: white;
    padding: 5px 20px;
    border:none;
    transition: all 0.3s ease 0s;
    cursor:pointer;
}
button:hover{
    background-color: rgb(240, 82, 82);
    font-weight: 700;

}
.logo{
    cursor: pointer;
    margin-left:auto;
}

body{
    background-color: red;
}